In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [11]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks,
  year
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks  year
0       6.686620     True          18          1             43.0  2001
1       9.360828     True          32          1             41.0  2001
2       8.437091    False          30          1             39.0  2001
3       6.124442    False          24          1             40.0  2002
4       7.125340    False          26          1             41.0  2002

In [12]:
df.describe()

,weight_pounds,mother_age,plurality,gestation_weeks,year
count,9989.000000,10000.000000,10000.000000,9890.000000,10000.000000
mean,7.297602,27.298900,1.034400,38.699798,2001.514100
std,1.291685,6.165838,0.192926,2.539957,0.699178
min,0.612885,12.000000,1.000000,17.000000,2001.000000
25%,6.624891,22.000000,1.000000,38.000000,2001.000000
50%,7.374463,27.000000,1.000000,39.000000,2001.000000
75%,8.124034,32.000000,1.000000,40.000000,2002.000000
max,12.257702,50.000000,3.000000,47.000000,2005.000000

In [13]:
df['is_male'].value_counts() / len(df)

True     0.515
False    0.485
Name: is_male, dtype: float64

In [14]:
df.isnull().sum()

weight_pounds       11
is_male              0
mother_age           0
plurality            0
gestation_weeks    110
year                 0
dtype: int64

In [15]:
df = df.dropna()
df = shuffle(df, random_state=2)
df.head()

      weight_pounds  is_male  mother_age  plurality  gestation_weeks  year
39         8.375361     True          32          1             41.0  2001
6132       4.437905    False          28          1             30.0  2002
5986       7.936641    False          44          1             38.0  2001
7682       6.926924    False          34          1             38.0  2001
4910       7.874912     True          31          1             40.0  2001

In [16]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds', 'year'])
data['is_male'] = data['is_male'].astype(int)

In [17]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
39          1          32          1             41.0
6132        0          28          1             30.0
5986        0          44          1             38.0
7682        0          34          1             38.0
4910        1          31          1             40.0

In [18]:
df.describe()

       weight_pounds   mother_age    plurality  gestation_weeks         year
count    9883.000000  9883.000000  9883.000000      9883.000000  9883.000000
mean        7.299206    27.307295     1.033897        38.707579  2001.511990
std         1.286940     6.165118     0.191830         2.518117     0.697331
min         0.612885    12.000000     1.000000        17.000000  2001.000000
25%         6.624891    22.000000     1.000000        38.000000  2001.000000
50%         7.374463    27.000000     1.000000        39.000000  2001.000000
75%         8.124034    32.000000     1.000000        40.000000  2002.000000
max        12.257702    50.000000     3.000000        47.000000  2005.000000